body {
	background: #447544; /* Old browsers */
	background: -moz-linear-gradient(top, #447544 0%, #6bba70 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#447544), color-stop(100%,#6bba70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #447544 0%,#6bba70 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #447544 0%,#6bba70 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #447544 0%,#6bba70 100%); /* IE10+ */
	background: linear-gradient(to bottom, #447544 0%,#6bba70 100%); /* W3C */
	height: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447544', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #ffffff; /* Remove annoying hover to black which is unreadable */
}

.container {
	color: #479147;
	height: 300px;
}
.container h1,h2,h3,h4,h5,h6 {
	color: #294A29;
}

.navbar-inner {
	background-color: #006E2E;
	background-image: none;
	background-repeat: no-repeat;
}

.navbar .nav li a {
	color: #fff;
	text-shadow: none; 
}

.navbar .brand {
	color: #fff;
	text-shadow: none;
}

.img-gomeow {
	position: absolute;
	right: 20px;
}

td, th, caption {
	color: #397439;
}

.mainContent {
	min-height: 200px; 
	position: relative;
}

.applyForm {
	text-align: center;
}